

// reset
html {box-sizing: border-box;font-size: 16px;}
*, *:before, *:after {box-sizing: inherit;}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {margin: 0;padding: 0;font-weight: normal; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
ol, ul {list-style: none;}
img {max-width: 100%;height: auto;}
html, body {height: 100%;width: 100;}
a {text-decoration:none;color:inherit;}

// global
body, html {
    width: 100%;
    height: 100%;
    font-family: $font;
    background: $space-black;  
}

.flexHardCenter {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
}

.flex {
    display: -webkit-box;
    display: flex;
}

.flexColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.flexRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.sr-only {
    display: none;
}